body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	margin: 3%;
}
.postcard-header h1 {
	width: 300px;
	margin: 5%;
	margin-bottom: 0%;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0%;
}
.body-left p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
}

.body-left .body-right {
	padding: 200px;
}
.body-right {
	margin-top: 50%;
}
input {
	border: none;
	border-bottom: red;
}

.postcard-footer {
	text-align: center;
	button {
		background-color: gray;
		padding: 0.5%;
	}
}
